In [29]:
import pandas as pd
import numpy as np
import csv
import plotly.express as px
import plotly.graph_objects as go
import ipywidgets as widgets
from plotly.subplots import make_subplots

## Scores globaux

In [2]:
with open('evaluations.csv') as fp:
    data = [elt for elt in csv.reader(fp)]
    for i, answer in enumerate(data):
        data[i][2] = int(answer[2])
        data[i][1] = int(answer[1]) + 1
temp_global_dataframe = pd.DataFrame(data, columns=['User', 'Text', 'Grade']) 
global_df = temp_global_dataframe.pivot(index='User', columns='Text', values='Grade')

In [3]:
global_df

Text                   1    2    3    4    5    6    7    8    9    10
User
Andrea Montis         5.0  4.0  6.0  4.0  3.0  5.0  5.0  5.0  5.0  4.0
Anthony Cnudde        5.0  4.0  6.0  5.0  5.0  5.0  4.0  5.0  4.0  4.0
Audrey Schils         5.0  5.0  6.0  5.0  5.0  4.0  2.0  3.0  4.0  1.0
Cecilia Tangeten      4.0  4.0  6.0  5.0  2.0  5.0  4.0  5.0  5.0  4.0
Doris Noukela         5.0  4.0  6.0  5.0  5.0  4.0  0.0  5.0  5.0  5.0
Florence Souard       4.0  1.0  6.0  4.0  4.0  5.0  5.0  5.0  5.0  0.0
Marlene Lawson        NaN  NaN  NaN  NaN  NaN  4.0  4.0  5.0  4.0  4.0
Natacha Biset         4.0  4.0  6.0  5.0  3.0  5.0  4.0  3.0  5.0  4.0
Pierre Van Antwerpen  4.0  4.0  6.0  5.0  5.0  5.0  1.0  5.0  5.0  5.0
Stéphanie Pochet      4.0  4.0  6.0  5.0  3.0  4.0  1.0  5.0  5.0  1.0

## Scores obtenus avec la table

In [4]:
with open('table.csv') as fp:
    data = [elt[:-1] for elt in csv.reader(fp)]
    for i, answer in enumerate(data):
        data[i][2] = int(answer[2])
        data[i][1] = int(answer[1]) + 1
temp_table_dataframe = pd.DataFrame(data, columns=['User', 'Text', 'Grade']) 
table_df = temp_table_dataframe.pivot(index='User', columns='Text', values='Grade')

In [5]:
table_df

Text                   1    2    3    4    5    6    7    8    9    10
User
Andrea Montis         NaN  NaN  NaN  NaN  NaN  5.0  5.0  5.0  5.0  4.0
Anthony Cnudde        NaN  NaN  NaN  NaN  NaN  5.0  4.0  5.0  4.0  4.0
Audrey Schils         NaN  NaN  NaN  NaN  NaN  4.0  2.0  3.0  4.0  1.0
Cecilia Tangeten      4.0  4.0  6.0  5.0  2.0  NaN  NaN  NaN  NaN  NaN
Doris Noukela         5.0  4.0  6.0  5.0  5.0  NaN  NaN  NaN  NaN  NaN
Florence Souard       NaN  NaN  NaN  NaN  NaN  5.0  5.0  5.0  5.0  0.0
Natacha Biset         4.0  4.0  6.0  5.0  3.0  NaN  NaN  NaN  NaN  NaN
Pierre Van Antwerpen  4.0  4.0  6.0  5.0  5.0  NaN  NaN  NaN  NaN  NaN
Stéphanie Pochet      NaN  NaN  NaN  NaN  NaN  4.0  1.0  5.0  5.0  1.0

In [34]:
out_0 = widgets.Output()
text_0 = widgets.BoundedIntText(
    min=1,
    max=10,
    value=1,
    step=1,
    description='Text',
    disabled=False
)

def update_text_table(change):
    out_0.clear_output()
    display_section = text_0.value
    data = table_df[display_section].value_counts()
    with fig_0.batch_update():
        fig_0.data[0]['values'] = data.values
        fig_0.data[0]['labels'] = data.index
    with out_0:
        fig_0.show()
    
data = table_df[1].value_counts()
fig_0 = go.FigureWidget(data=go.Pie(
        values=data.values,
        labels=data.index))

display(text_0)
display(out_0)
with out_0:
    fig_0.show()
text_0.observe(update_text_table, names='value')

BoundedIntText(value=1, description='Text', max=10, min=1)

Output()

In [ ]:
with open('table.csv') as fp:
    data = [elt[:-1] for elt in csv.reader(fp)]
    for i, answer in enumerate(data):
        data[i][2] = int(answer[2])
        data[i][1] = int(answer[1]) + 1
temp_table_dataframe = pd.DataFrame(data, columns=['User', 'Text', 'Grade']) 
table_df = temp_table_dataframe.pivot(index='User', columns='Text', values='Grade')

## Scores obtenus avec le diagramme

In [36]:
with open('diagram.csv') as fp:
    data = [elt[:-1] for elt in csv.reader(fp)]
    for i, answer in enumerate(data):
        data[i][2] = int(answer[2])
        data[i][1] = int(answer[1]) + 1
temp_diagram_dataframe = pd.DataFrame(data, columns=['User', 'Text', 'Grade']) 
diagram_df = temp_diagram_dataframe.pivot(index='User', columns='Text', values='Grade')

In [37]:
diagram_df

Text                   1    2    3    4    5    6    7    8    9    10
User
Andrea Montis         5.0  4.0  6.0  4.0  3.0  NaN  NaN  NaN  NaN  NaN
Anthony Cnudde        5.0  4.0  6.0  5.0  5.0  NaN  NaN  NaN  NaN  NaN
Audrey Schils         5.0  5.0  6.0  5.0  5.0  NaN  NaN  NaN  NaN  NaN
Cecilia Tangeten      NaN  NaN  NaN  NaN  NaN  5.0  4.0  5.0  5.0  4.0
Doris Noukela         NaN  NaN  NaN  NaN  NaN  4.0  0.0  5.0  5.0  5.0
Florence Souard       4.0  1.0  6.0  4.0  4.0  NaN  NaN  NaN  NaN  NaN
Marlene Lawson        NaN  NaN  NaN  NaN  NaN  4.0  4.0  5.0  4.0  4.0
Natacha Biset         NaN  NaN  NaN  NaN  NaN  5.0  4.0  3.0  5.0  4.0
Pierre Van Antwerpen  NaN  NaN  NaN  NaN  NaN  5.0  1.0  5.0  5.0  5.0
Stéphanie Pochet      4.0  4.0  6.0  5.0  3.0  NaN  NaN  NaN  NaN  NaN

In [39]:
out_1 = widgets.Output()
text_1 = widgets.BoundedIntText(
    min=1,
    max=10,
    value=1,
    step=1,
    description='Text',
    disabled=False
)

def update_text_diagram(change):
    out_1.clear_output()
    display_section = text_1.value
    data = diagram_df[display_section].value_counts()
    with fig_1.batch_update():
        fig_1.data[0]['values'] = data.values
        fig_1.data[0]['labels'] = data.index
    with out_1:
        fig_1.show()
    
data = diagram_df[1].value_counts()
fig_1 = go.FigureWidget(data=go.Pie(
        values=data.values,
        labels=data.index))

display(text_1)
display(out_1)
with out_1:
    fig_1.show()
text_1.observe(update_text_diagram, names='value')

BoundedIntText(value=1, description='Text', max=10, min=1)

Output()